$mapBackgroundColor: #3b3b3b;

$bigClassroomBackgroundColor: #a4b0a7;
$mediumClassroomBackgroundColor: #8e9991;
$smallClassroomBackgroundColor: #4e5550;

$bigClassroomChairColor: #e8e8e8;
$mediumClassroomChairColor: #d6d6d6;
$smallClassroomChairColor: #c2c2c2;

$tableColor: rgb(158, 158, 0);
$tableColorOnHover: rgb(124, 124, 0);
$teachersTableColor: rgb(189, 87, 87);
$teachersTableColorOnHover: rgb(141, 66, 66);

