header {
  position: sticky;
  top: 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 40px 0 10px;
  background: #fff;
  position: relative;
}
header nav .navbar-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  font-size: 0.7rem;
  color: darkgray;
}
header nav .navbar-part1 .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header nav .navbar-part1 .logo span:first-of-type {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  vertical-align: baseline;
}
header nav .navbar-part1 .logo img {
  height: 50%;
  width: auto;
  margin-right: 5px;
}
header nav .navbar-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  position: absolute;
  left: 450px;
}
header nav .navbar-part2 input {
  width: 900px;
  height: 55%;
  border-radius: 25px;
  border-style: none;
  background: #EBECF0;
  outline: none;
  padding: 0 0px 0px 35px;
}
header nav .navbar-part2 input::-moz-placeholder {
  font-size: 0.85rem;
}
header nav .navbar-part2 input::placeholder {
  font-size: 0.85rem;
}
header nav .navbar-part2 input:focus {
  outline: 2px solid #555;
}
header nav .navbar-part3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  margin-left: 30px;
}
header nav .navbar-part3 .navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .navbar-part3 .navbar-links a {
  text-decoration: none;
  background-color: transparent;
  color: black;
  padding: 10px 10px;
}
header nav .navbar-part3 .navbar-links a:hover {
  background-color: #f0f0f0;
  border-radius: 25px;
  display: inline-block;
  padding: 10px 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
}
article .blog-link, article .h1 {
  align-self: flex-start;
}
article .blog-link {
  margin-top: 20px;
}
article .h1 {
  font-size: 1.7rem;
  margin: 20px 0;
}
article .bread-text {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 50px;
}
article .news-section {
  width: 100%;
  height: auto;
}
article .news-section .news-rectangle {
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 30px 20px;
}
article .news-section .news-rectangle:hover {
  background-color: rgba(120, 131, 155, 0.05);
}
article .news-section .news-rectangle h2 {
  font-size: 1.5rem;
}
article .news-section .read-more {
  color: rgb(8, 126, 164);
}
article .news-section a {
  text-decoration: none;
  color: black;
}
article .news-section a h2:hover, article .news-section a .read-more:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background: #fff;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=style.css.map */